.flex-warp{
  display: flex;
}
.flex-item{
  flex: 1;
}
.el-date-picker {
  width: 745rpx;
}
.el-date-picker .el-picker-panel__content {
  width: 90%;
  text-align: center;
}
.bg_green span{
  background-color: #67C23A;
  color:#fff;
}
.bg_orange span{
  background-color: #E6A23C;
  color:#fff;
}
.bg_red span{
  background-color: #F56C6C;
  color:#fff;
}
.bg_disable span{
  background-color: #f5f7fa;
  color:#c0c4cc;
  cursor: not-allowed;
}
.today {
  color: #F56C6C;
  font-size: 18rpx;
}
.date-picker {
  margin: 0 auto;
}
.date-container {
  width: 100%;
  .date-item {
    width: 100%;
    float: left;
  }
}
.back-today-btn{
  position: absolute;
}
.date-current {
  border-radius: 50%;
  border: 1px solid #F56C6C
}
.date-jingqi {
  background-color: #F56C6C;
  border-radius: 50%;
  color: #fff;
}
.date-yuce {
  background-color: #f5989b;
  border-radius: 50%;
  color: #fff;
}
.date-anquan {
  color: #0bb20c;
}
.date-yiyun {
  color: #b24aa6;
}
